<!-- Home Pagina Inhoud -->
<nav>
  <% if user_signed_in? %>
    <%= link_to 'Uitloggen', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Inloggen', new_session_path(:user) %>
    <%= link_to 'Registreren', new_registration_path(:user) %>
  <% end %>
</nav>

